<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>JspApp3-LocalErrorPages</display-name>
 <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/error.jsp</location>
 </error-page>
 
 <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/error1.html</location>
 </error-page>
 
 <error-page>
    <error-code>404</error-code>
    <location>/my404Error.html</location>
 </error-page>
</web-app>