<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
   id="WebApp_ID" version="5.0">
  <display-name>JspDBApp3</display-name>
  <welcome-file-list>
    <welcome-file>student_register.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>stud</servlet-name>
    <jsp-file>/process_student.jsp</jsp-file>
    <init-param>
       <param-name>driverClass</param-name>
       <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
     <init-param>
       <param-name>jdbcUrl</param-name>
       <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </init-param>
     <init-param>
       <param-name>dbuser</param-name>
       <param-value>system</param-value>
    </init-param>
     <init-param>
       <param-name>dbpwd</param-name>
       <param-value>manager</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
     <servlet-name>stud</servlet-name>
     <url-pattern>/dburl</url-pattern>
  </servlet-mapping>
</web-app>